.content{
width : 70% ;
float : left ;
padding : 30px;
margin-top: 60px;
}

.sidebar{
width: 30% ;
float: right ;
padding : 20px;
margin-top: 80px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

h1{
text-align: center;
padding-bottom : 10px
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px 0 0 0;
}

#date,#ch{
font-size: 13px;
font-style: italic;
color:#8B8B8B;
}

#ch{
/*color : white;*/
font-size: 13px;
font-style: italic;
border-bottom: 0.5px solid white;
}

#pcount{
color: #8D20C4;
font-weight: bold;
}

#pcount:hover #pcount:active {font-size: 200%;}


/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

a.one:link {color:#000000;}
a.one:visited {color:#000000;}
a.one:hover {color:#8B8B8B;}
